<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.INTERNET" />

    <!-- Required for the app to prompt the system installer for downloaded APK updates. -->
    <uses-permission android:name="android.permission.REQUEST_INSTALL_PACKAGES" />

    <application
        android:name=".DealerApp"
        android:allowBackup="false"
        android:label="Ebone Dealer Panel"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity
            android:name=".HistoryActivity"
            android:exported="false" />

        <activity
            android:name=".PaymentActivity"
            android:exported="false" />

        <activity
            android:name=".RegisterActivity"
            android:exported="false" />

        <activity
            android:name=".MainActivity"
            android:exported="true">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity>

        <!-- Dealer Panel More menu -->
        <activity
            android:name=".MoreActivity"
            android:exported="false" />


        <!-- FileProvider required for APK update installation. -->
        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">

            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />

        </provider>

    </application>

</manifest>